# Gradle files
.gradle
/build/
/classes/

# IntelliJ project files
.idea
*.iml
*.ipr
*.iws
out
gen

# Eclipse project files
.classpath
.project
.settings/

#frontend
/frontend/nuxt3/.vscode/

2022 - Exercice poste de Développement.pdf

*.bak
